{{#if user }}
<div class="userContainer">
  <div class="cardBody">
    <h2 class="title">Bienvenido</h2>
      <div class="datos1Container">
        <p><strong>Nombre: </strong>{{user.first_name}}</p>
        <p><strong>Apellido: </strong>{{user.last_name}}</p>
        <p><strong>Edad: </strong>{{user.age}}</p>
      </div>
      <div class="datos2Container">
        <p><strong>Email: </strong>{{user.email}}</p>
        <p><strong>Rol: </strong>{{user.role}}</p>
      </div>
  </div>
</div>
{{/if}}